In [146]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re
import os, sys
import gensim

from gensim.models import Doc2Vec
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

import nltk
from string import punctuation

In [147]:
template_df = pd.read_csv('./alimtalk_tempalte_parsed.csv', nrows=500000)
template_df['parsed_len'] = template_df.removed_sw_content.str.len()
template_df.head(5)

,temp_id,sender_id,category_name,temp_name,content_word,removed_sw_content,target_yn,group_yn,parsed_len
0,NaN,NaN,NaN,NaN,계좌번호 가 집중모니터링 계좌로 등록되었습니다,계좌 번호 집중 모니터링 계좌 등록되다,NaN,NaN,21.0
1,NaN,NaN,NaN,NaN,종통결산액 한도 금액 잔액 금액,종통 결산액 한도 금액 잔액 금액,NaN,NaN,18.0
2,NaN,NaN,NaN,NaN,톡톡 구분값 고객 구분값 본인인증 완료,톡톡 구분 값 고객 구분 값 본인 인증 완료,NaN,NaN,24.0
3,NaN,NaN,NaN,NaN,님 계좌 원 이자입금되었습니다,계좌 원 이자 입금되다,NaN,NaN,12.0
4,NaN,NaN,NaN,NaN,님 비밀번호가 월 일 변경되었습니다,비밀 번호 월 일 변경되다,NaN,NaN,14.0

In [171]:
print(template_df.describe())
template_df.groupby(by='target_yn').size().reset_index(name='counts') # Dataframe 형태로 리턴

             temp_id      sender_id     parsed_len
count  327822.000000  323137.000000  359214.000000
mean   179293.944799   14910.859440      82.400452
std    100008.675032   13204.416901      97.356876
min       -25.000000       1.000000       1.000000
25%     94014.250000    3484.000000      23.000000
50%    182994.500000   10047.000000      50.000000
75%    265847.750000   25400.000000     105.000000
max    347897.000000   48255.000000    1548.000000

    target_yn  counts
0    비정상-검수반려    5198
1    비정상-검수안됨   12058
2      정상-발송됨  178406
3  정상-발송한적 없음  100103

In [305]:
target_df = template_df[(~template_df.temp_id.isna()) & (template_df.parsed_len > 4)]
content = target_df['removed_sw_content']
print(len(target_df))
print(len(content))
target_df.head(10)

322497
322497

,temp_id,sender_id,category_name,temp_name,content_word,removed_sw_content,target_yn,group_yn,parsed_len
31535,1.0,2.0,기타,테스트,님이 보낸 등기 를 박덕민 회사동료 님께 배달 완료,보내다 등기 를 박덕민 회사 동료 배달 완료,비정상-검수안됨,n,24.0
31536,7.0,3.0,공공/행정,택배 배달 예정 1,김은빈 고객님 우체국입니다 오늘 시부터 시 사이에 택배를 배달할 예정입니다 등기번호...,김은빈 우체국 오늘 시 시 사이 택배 배달하다 예정 등기 번호 운송장 번호 발송인 ...,정상-발송됨,n,58.0
31537,8.0,3.0,공공/행정,택배 배달 완료 1,신유리 고객님 우체국입니다 고객님이 님께 보내신 택배 등기번호 을 에 배달완료 하였...,신유리 우체국 보내다 택배 등기 번호 배달 완료 항상 우체국 이용하다 우체국,정상-발송됨,n,42.0
31538,9.0,3.0,공공/행정,등기 우체국 보관,정혜민 고객님 우체국입니다 고객님이 부재중으로 등기우편물 등기번호 을 배달하지 못해...,정혜민 우체국 부재중 등기 우편물 등기 번호 배달하다 못하다 까다 우체국 보관 일 ...,정상-발송됨,n,80.0
31539,10.0,3.0,공공/행정,등기 재배달 안내 1,김현지 고객님 우체국입니다 고객님이 부재로 배달하지 못한 등기우편물 등기번호 을 년...,김현지 우체국 부재 배달하다 못하다 등기 우편물 등기 번호 년 월 일 재배 달하다 ...,정상-발송됨,n,55.0
31540,11.0,3.0,공공/행정,택배 배달 완료 2,윤영주 고객님 우체국입니다 폴샵 주 고객님이 발송한 택배 등기번호 을 경비원 경비원...,윤영주 우체국 폴샵 주 발송하다 택배 등기 번호 경비원 경비원 배달 완료 항상 우체...,정상-발송됨,n,56.0
31541,12.0,3.0,공공/행정,택배 반송 안내 1,주 다다글로벌 고객님 우체국입니다 고객님이 님께 보내신 택배 등기번호 가 에 반송되...,주 다다 글로벌 우체국 보내다 택배 등기 번호 반송되다 우체국,정상-발송됨,n,34.0
31542,13.0,3.0,공공/행정,택배 부재 1,박준영 고객님 우체국입니다 고객님이 님께 보내신 택배 등기번호 를 월 일 현재 님이...,박준영 우체국 보내다 택배 등기 번호 를 월 일 현재 부재중 배달하다 못하다 문의 ...,정상-발송됨,n,57.0
31543,14.0,3.0,공공/행정,등기 배달 예정 1,정보람 고객님 우체국입니다 오늘 등기우편물을 배달할 예정입니다 등기번호 운송장번호 ...,정보람 우체국 오늘 등기 우편물 배달하다 예정 등기 번호 운송장 번호 발송인 대전지...,정상-발송됨,n,60.0
31544,15.0,3.0,공공/행정,등기 배달 완료 1,참나무장작구이 고객님 우체국입니다 농협은행 주식회사 고객님이 보내신 등기우편물 등기...,참나무 장작 구이 우체국 농협 은행 주식회사 보내다 등기 우편물 등기 번호 회사 동...,정상-발송됨,n,61.0

In [319]:
index_value = target_df.index.values.astype(int)
1 in index_value

False

In [333]:
LabeledSentence1 = gensim.models.doc2vec.TaggedDocument
parsed_content = []
j=0
for doc in content:
    if doc:
        parsed_content.append(LabeledSentence1(doc, [j]))
        j+=1
        
print("Number of non-empty vectors: ", j)

Number of non-empty vectors:  322497

In [334]:
parsed_content[2]

TaggedDocument(words='신유리 우체국 보내다 택배 등기 번호 배달 완료 항상 우체국 이용하다 우체국', tags=[2])

In [335]:
d2v_model = Doc2Vec(parsed_content
                    , vector_size = 1000 # dimension 개수
                    , window = 4
                    , min_count = 20 # Ignores all words with total frequency lower than this.
                    , workers=7
                    , dm = 1
                    , alpha=0.025 # 초기 학습율
                    , min_alpha=0.001)

In [332]:
d2v_model.vocabulary.sample

0.001

In [106]:
d2v_model.train(parsed_content
                , total_examples=d2v_model.corpus_count
                , epochs=10
                , start_alpha=0.002
                , end_alpha=-0.016)

In [371]:
print(d2v_model.docvecs.vectors_docs)
d2v_model.docvecs.vectors_docs.shape

[[ 0.01418722  0.02763766 -0.02813783 ...  0.00944516 -0.00369253
   0.00027142]
 [-0.02161486 -0.00957888  0.00493024 ...  0.09648965  0.01734921
  -0.07026113]
 [ 0.00657448  0.01383674  0.01715095 ...  0.02362148  0.01656046
  -0.05180318]
 ...
 [ 0.01063442  0.0386656  -0.11472552 ...  0.12951112  0.11673646
  -0.01225045]
 [ 0.06971844  0.03151614 -0.10291107 ... -0.00337681  0.02810322
   0.01489481]
 [-0.06411909  0.00564183  0.02418148 ...  0.05049546  0.00589383
   0.01114459]]

(322497, 1000)

In [372]:
print (d2v_model.docvecs.most_similar(2, topn=10))

print(parsed_content[2])
print(parsed_content[1])

/anaconda3/lib/python3.6/site-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[(7873, 0.8152509927749634), (310978, 0.8061209917068481), (311556, 0.7958072423934937), (26, 0.793707013130188), (163330, 0.7920553088188171), (288523, 0.7905102968215942), (317580, 0.7901448011398315), (283024, 0.7888611555099487), (322374, 0.7879704236984253), (306610, 0.7876620292663574)]

In [363]:
a = LabeledSentence1(words=["1", "2"], tags=[1])

print(repr(a))
print(a.count("1"))
a.index([1])
a.tags

TaggedDocument(words=['1', '2'], tags=[1])
0

[1]