In [14]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra

In [54]:
template_df = pd.read_csv('./alimtalk_tempalte_parsed.csv', nrows=500000)
template_df.head(4)

,temp_id,sender_id,profile_id,content_word,parsed_content,name,category_name,temp_name,target_yn,group_yn
0,NaN,NaN,NaN,계좌번호 가 집중모니터링 계좌로 등록되었습니다,계좌 번호 가 집중 모니터링 계좌 등록되다,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,종통결산액 한도 금액 잔액 금액,종통 결산액 한도 금액 잔액 금액,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,톡톡 구분값 고객 구분값 본인인증 완료,톡톡 구분 값 고객 구분 값 본인 인증 완료,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,님 계좌 원 이자입금되었습니다,님 계좌 원 이자 입금되다,NaN,NaN,NaN,NaN,NaN

In [12]:
# 템플릿 상태별 데이터 건수
#Group by
template_df.groupby(by='target_yn').size() #Series 형식으로 리턴
template_df.groupby(by='target_yn').size().reset_index(name='counts') # Dataframe 형태로 리턴

    target_yn  counts
0    비정상-검수반려    5198
1    비정상-검수안됨   12058
2      정상-발송됨  178406
3  정상-발송한적 없음  100103

In [92]:
#필터링
# Equal
template_df[template_df.target_yn == '정상-발송됨']

# in
template_df[template_df.target_yn.isin(['정상-발송됨', '비정상-검수안됨'])]

# null 필터링
template_df[~template_df.temp_id.isna()]

# 비교연산 필터링
template_df[template_df.temp_id < 10]
template_df[(template_df.temp_id < 10) & (template_df.sender_id < 3)]

#template_df.target_yn in ['정상-발송됨', '비정상-검수안됨']
#template_df.target_yn.isin(['정상-발송됨', '비정상-검수안됨'])

,temp_id,sender_id,profile_id,content_word,parsed_content,name,category_name,temp_name,target_yn,group_yn
31534,-25.0,2.0,193157236.0,"""NA""",na,alimtalktest,기타,자유문자테스트,비정상-검수안됨,n
31535,1.0,2.0,193157236.0,님이 보낸 등기 를 박덕민 회사동료 님께 배달 완료,님 보내다 등기 를 박덕민 회사 동료 님 배달 완료,alimtalktest,기타,테스트,비정상-검수안됨,n

In [79]:
#컬럼(변수) 선택
template_df[['temp_id','parsed_content','group_yn','target_yn']]

#컬럼 선택과 필터링 동시에
sample_df = template_df[['sender_id','temp_id','parsed_content','group_yn','target_yn']][template_df.target_yn == '정상-발송됨']

#Sorting
sample_df.sort_values(by='temp_id')#오름차순이 기본
sample_df.sort_values(by='temp_id', ascending=False)
sample_df.sort_values(by=['sender_id','temp_id'], ascending=False)
sample_df.sort_values(by=['sender_id','temp_id'], ascending=False, inplace=True) #Sorting 후 데이터 재저장

       sender_id  temp_id                                     parsed_content  \
31536        3.0      7.0  김은빈 고객님 우체국 오늘 시 시 사이 택배 배달하다 예정 등기 번호 운송장 번호 ...
31537        3.0      8.0  신유리 고객님 우체국 고객님 님 보내다 택배 등기 번호 을 에 배달 완료 하다 항상...
31538        3.0      9.0  정혜민 고객님 우체국 고객님 부재중 등기 우편물 등기 번호 을 배달하다 못하다 까다...
31539        3.0     10.0  김현지 고객님 우체국 고객님 부재 배달하다 못하다 등기 우편물 등기 번호 을 년 월...
31540        3.0     11.0  윤영주 고객님 우체국 폴샵 주 고객님 발송하다 택배 등기 번호 을 경비원 경비원 님...

      group_yn target_yn
31536        n    정상-발송됨
31537        n    정상-발송됨
31538        n    정상-발송됨
31539        n    정상-발송됨
31540        n    정상-발송됨
       sender_id  temp_id                                     parsed_content  \
31536        3.0      7.0  김은빈 고객님 우체국 오늘 시 시 사이 택배 배달하다 예정 등기 번호 운송장 번호 ...
31537        3.0      8.0  신유리 고객님 우체국 고객님 님 보내다 택배 등기 번호 을 에 배달 완료 하다 항상...
31538        3.0      9.0  정혜민 고객님 우체국 고객님 부재중 등기 우편물 등기 번호 을 배달하다 못하다 까다...
31539        3.0     10.0  김현지 고객님 우체국 고객님 부재 배달하다 못하다 등기 우편물 등기 번호 을 년 월...
31540        3.0     11.0  윤영주 고객님 우체국 폴샵 주 고객님 발송하다 택배 등기 번호 을 경비원 경비원 님...

      group_yn target_yn
31536        n    정상-발송됨
31537        n    정상-발송됨
31538        n    정상-발송됨
31539        n    정상-발송됨
31540        n    정상-발송됨
        sender_id   temp_id  \
358437    47762.0  346978.0
358264    47742.0  346805.0
358481    47708.0  347023.0
358479    47708.0  347021.0
358477    47708.0  347019.0

                                           parsed_content group_yn target_yn
358437  품절 안내 님 에서 주문하다 상품 품절 확인 되다 상품명 처리 방법 에서 취소 접수...        n    정상-발송됨
358264  위드 유 쇼핑 출고 안내 상품 택배사 한진 택배 송장 번호 주문하 신상품 출고 완료...        n    정상-발송됨
358481                                     님 입금 계좌 노마진 마켓        n    정상-발송됨
358479                          님 입금 감사합니다 원 주문 번호 노마진 마켓        n    정상-발송됨
358477                             님 주문하다 주다 고맙다 원 노마진 마켓        n    정상-발송됨

In [83]:
#기초 통계량 보기
print(sample_df.describe())
print(sample_df.describe(include='all'))

           sender_id        temp_id
count  167159.000000  178406.000000
mean    10519.000903  145395.162074
std     11258.707952   99021.626825
min         2.000000       7.000000
25%      2430.000000   54197.250000
50%      5613.000000  137769.000000
75%     15345.000000  225811.750000
max     47762.000000  347259.000000
            sender_id        temp_id  \
count   167159.000000  178406.000000
unique            NaN            NaN
top               NaN            NaN
freq              NaN            NaN
mean     10519.000903  145395.162074
std      11258.707952   99021.626825
min          2.000000       7.000000
25%       2430.000000   54197.250000
50%       5613.000000  137769.000000
75%      15345.000000  225811.750000
max      47762.000000  347259.000000

                                           parsed_content group_yn target_yn
count                                              178406   178406    178406
unique                                             105430        2         1
top     에서 사용하다 포인트 도용 방지 위하다 인증 번호 를 점원 보이다 주다 고객님 사용...        n    정상-발송됨
freq                                                 4791   167330    178406
mean                                                  NaN      NaN       NaN
std                                                   NaN      NaN       NaN
min                                                   NaN      NaN       NaN
25%                                                   NaN      NaN       NaN
50%                                                   NaN      NaN       NaN
75%                                                   NaN      NaN       NaN
max                                                   NaN      NaN       NaN

In [84]:
pd.